@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Media Inventory</h1>
    <p>Select a Page:</p>

    <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="Index">Artist</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="MediaInventory" asp-action="Index">Media Inventory</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Borrower" asp-action="Index">Borrowers</a>

</div>
